/*Importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 150vh;
}

/*navbar*/
li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 15vh;
    background-color: #242524;
}

.logo {
    cursor: pointer;
    max-width: 20%;
}

.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-flex;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

/*Responsive Nav-Bar*/
.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px){
    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
        z-index: 2;
    }

    .active {
        left: 0;
    }

    .nav-links li {
        display: block;
        text-align: center;
    }

    .nav-links li:first-child {
        padding-top: 3rem;
    }

    .nav-links li:not(:last-child) {
        padding-bottom: 3rem;
    }

    .nav-links li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
}

/*Search Bar*/
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 1rem;
    height: 1rem;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Responsive Search Bar*/
  .wrap{
    z-index: 1;
    width: 30%;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/*Cards*/

.container {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 5rem;
    z-index: 1;
  }
  .container .card {
    position: relative;
    max-width: 300px;
    height: 170px;
    background: #fff;
    margin: 4rem 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
  }
  .container .card:hover {
    height: 180px;
  }
  .container .card .img-box {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 0;
    z-index: 1;
  }
  
  .container .card .img-box img {
    max-width: 100%;
    border-radius: 4px;
  }
  
  .container .card .content h2 {
    font-size: 16px;
    position: relative;
    text-align: center;
    top: -60px;
  }